@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

	html {
		font-family: 'Inter', sans-serif;
	}

	.ql-picker-options {
		top: unset !important;
		bottom: 100%;
	}

	span a {
		color: #007bff !important;
		text-decoration: underline !important;
	}

	button,
	[type='button'],
	[type='reset'],
	[type='submit'] {
		background-color: color !important;
	}
}
